# Node.js
node_modules/

.history/

# Data-store
chats-by-user.json
sessions.json
user-friends.json
emails.json
messages.json
chats.json
users.json

# Vite
dist/
.build/

# Express.js
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependencies
package-lock.json
yarn.lock

# Build files
build/
out/
public/

# Temporary files
*.swp
.DS_Store
Thumbs.db

# Ignore all generated/static files (can be modified as per your project structure)
/static/**